.container-fluid {
    background-color: rgba(244, 245, 247, 0.3);
  }
  
  
  ::ng-deep .mat-form-field-infix {
    width: 300px !important;
  }
  ::ng-deep .mat-form-field .mat-input-element {
        color: #C8CFD9;
        width: 400px;
    }
  
    ::ng-deep .mat-form-field .mat-form-field-label {
        color: #C8CFD9;
    }
  
    ::ng-deep .mat-form-field .mat-form-field-underline {
        background-color: #C8CFD9;
    }
  
    ::ng-deep .mat-form-field .mat-form-field-ripple {
        background-color: #C8CFD9;
    }
  
    ::ng-deep .mat-form-field .mat-form-field-required-marker {
        color: #C8CFD9;
    }
  
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
          color: #333333;
      }
      ::ng-deep .mat-form-field.mat-focused   .mat-form-field-ripple {
          background-color: #6866e9;
      }
    ::ng-deep .mat-form-field.mat-focused   .mat-form-field-required-marker {
          color: #6866e9;
      }
      ::ng-deep .mat-form-field.mat-focused   .mat-input-element {
          color: #333333;
      }
  
      ::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
            color: #ff884d;
        }
        ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
            color: #ff884d; 
        }
            ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-required-marker {
                color: #ff884d;
            }
        
            ::ng-deep .mat-form-field.mat-form-field-invalid    .mat-form-field-ripple {
            background-color: #ff884d;
        }
    
  
        .mat-focused .placeholder {
          color: transparent;
      }
  .container {
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(104, 102, 233, 0.16);
    background-color: #ffffff;
    min-width: 800px;
    padding-bottom: 24px;
  }
  
  .filter {
    margin-top: 24px;
    box-shadow: none;
    background-color: transparent;
  }
  
  .filter p {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      color: #263238;
      display: inline;
  }
  
  .filter .mat-form-field {
    float: right;
    position: relative;
  }
  
  
  h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #6677e9;
  padding-left: 24px;
  padding-top: 24px;
  margin: 0;
  }
  
  table {
    width: 100%;
    border: none;
  }
  
  th {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: left;
  color: #263238;
  }
  
  td img {
    width: 30px;
    height: 30px;
    border: solid 1px rgba(200, 207, 217, 0.1);
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 18px;
  }
  
  td {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #515b5f;
  }
  
  .mat-header-cell, .mat-cell {
    border: none;
    margin-right: 16px;
  }
  
  /* tr .mat-header-cell {
    height: 48px;
  }
  
  .mat-cell {
    height: 40px;
  } */
  
  mat-icon {
    fill: #18bf1e;
  }
  
  td a {
    border-radius: 14px;
    margin-right: 16px;
    border-radius: 14px;
    background-image: linear-gradient(to bottom, #3aea80, #18bf1e);
    padding: 4px 12px;
    color: #ffffff;
    margin-right: 16px;
  }
  
  .play {
    background-image: linear-gradient(to bottom, #c694f9, #ab64f4) !important;
  }

  .upload {
    background-image: linear-gradient(to bottom, #feb683, #ff8993) !important;
  }

  .more {
    margin-left: 24px;
    fill: rgba(81, 91, 95, 0.7);
  }
  
  /* .writer {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: rgba(81, 91, 95, 0.5);
    display: block;
    position: absolute;
    margin-top: -10px;
    margin-left: 40px;
  } */
  
  /* .contentImage {
    width: 48px !important;
    height: 48px !important;
    border-radius: 24px !important;
  } */